.App {
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: grey;
}

footer {
  height: 400px;
  background-color: #E0385A;
}

.extralight {
  font-family: halyard-display, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.extralight-i {
  font-family: halyard-display, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.light {
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.light-i {
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.book {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.book-i {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.reg {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ital {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.medium {
  font-family: halyard-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.medium-i {
  font-family: halyard-display, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.semibold {
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.semibold-i {
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: italic;
}

.bold {
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bold-i {
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.black {
  font-family: halyard-display, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.black-i {
  font-family: halyard-display, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}

.App-link {
  color: darkred;
}

.Landingtitle {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.Landingtitle > img {
  margin-right: 50px;
}

#submission {
  display: inline-block;
  -webkit-appearance: none;
}


#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 0%, 10%, 10%, 10%;
  padding-bottom: 120px;
}

#email-input {
  height: 60px;
  width: auto;
  padding: 0px 20px;
  margin: 5px 10px;
  font-size: 20px;
}

#content-top {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 8%;
  margin-left: 340px;
  margin-right: 340px;
}

#content-top p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 30px;
}

#intro {
  display: flex;
  flex-direction: row;
  text-align:left;
}

#what-is {
  background-color: #E0385A;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 50px 100px 50px 50px ;
  margin-right:50px;
  width: 400px;
  height: 400px;
  color: whitesmoke;
  box-shadow: 30px 30px #BFBFBF;
}

#what-is h2 {
  font-size: 70px;
  line-height: 70px;
  text-align:left;
  margin-top: 10px;
  margin-bottom:20px;
}

#what-is p {
  font-size: 24px;
  margin-top:0px;
}

#sub-logo{
  margin-right: 30px;
  margin-top: 5px;
  width: 30px;
}

#info {
  width: 430px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-top: 120px;
}

#info h1 {
  margin-top: 0px;
  font-size: 24px;
}

#info p {
  margin-top: 0px;
  font-size: 24px;
}

#as-seen {
  height: 100px;
  background-color: white;
  padding: 100px;
}

#logos {
  display: inline-block;
}

div#logos > img {
  padding-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  height: 60px;
}

#foot {
  color: whitesmoke;
  padding: 50px 50px 50px 100px;
}