.App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: halyard-display, sans-serif;
}

header {
  background-color: grey;
}

footer {
  height: 400px;
  background-color: crimson;
}

h1 {
  font-weight: 600;
  font-size: 60px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}

.App-link {
  color: darkred;
}

.Landingtitle {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.Landingtitle > img {
  margin-right: 50px;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 0, 10%, 10%, 10%;
}

#email-input {
  color: "#707070";
  border-color: "#707070";
  border-width: "0.5px";
}

#content-top {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#content-top p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 30px;
}

#as-seen {
  height: 100px;
  background-color: white;
  text-align: center;
  padding: 100px;
}

#logos {
  display: inline-block;
}

div#logos > img {
  padding-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  height: 60px;
}
